<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="ajax-component">
  <template>
    <style>
      :host {
        display: block
      }
    </style>

    <paper-spinner 
      active="[[loading]]">
    </paper-spinner>

    <iron-ajax
      id="getAjax"
      url="http://localhost:3000/data"
      last-response="{{eventsList}}"
      loading="{{loading}}"
      auto>
    </iron-ajax>

    

  </template>

  <script>
    /**
     * `ajax-component` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class AjaxComponent extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'ajax-component';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          route: Object,
          routeData: Object,
          id: Number,
          eventsList: Array,
          loading: Boolean
        };
      }

      static get observers() {
        return [ 
          'idChanged(routeData.id)'
        ];
      }

      idChanged(id) {
        this.id = id;
        this.$.getAjax.generateRequest();
      }


    }

    window.customElements.define(AjaxComponent.is, AjaxComponent);
  </script>
</dom-module>