<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../bower_components/vaadin-time-picker/vaadin-time-picker.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../styles/shared-styles.html">


<dom-module id="create-event">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        --primary-color: #ff6600;
        --secondary-text-color: var(--paper-brown-300);
        --paper-input-container-input-color: var(--paper-brown-900);
       
      }
      
      .container-date-hour {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      } 
     
      vaadin-date-picker {
        width: 55%;
      } 

      vaadin-time-picker {
        width: 40%;
      } 

      iron-form {
        box-sizing: border-box;
        width: 425px;
        max-width: 425px;
        padding: 15px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: #ffffff;
      }

      .container-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 25px;
      }    
    </style>

<!-- <app-route
route="{{route}}"
pattern="[[rootPath]]:page"
data="{{routeData}}"
tail="{{subroute}}">
</app-route> -->

    <iron-ajax
      id="postAjax"
      method="post"
      content-type="application/json"
      body="[[newEvent]]"
      url="http://localhost:3000/data/[[id]]"
      handle-as="json"
      on-response="postResponseInJson"
      on-error="postError">
    </iron-ajax>

    <iron-form id="form1">
      <form action="/foo" method="post">
        <paper-input id="inputName" type="text" name="nombre" required label="Nombre del evento"></paper-input>
        <div class="container-date-hour">
          <vaadin-date-picker class="date" id="inputDate" label="Fecha" i18n="[[i18n]]" value="{{date}}" placeholder="DD/MM/YYYY"></vaadin-date-picker>
          <vaadin-time-picker class="hour" id="inputHour" label="Hora" placeholder="HH:MM"></vaadin-time-picker>
        </div>
        <paper-textarea id="inputDescription" name="descripcion" required label="Descripción" rows="2" placeholder="Introduce una descripción del evento..."></paper-textarea>
        <paper-input id="inputLocation" type="text" name="lugar" required label="Lugar"></paper-input>
        <paper-input id="inputOwner" type="text" name="organizador" required label="Organizador"></paper-input>
        <paper-dropdown-menu  id="inputCategory" label="Categoría" name="categoria" required>
          <paper-listbox class="dropdown-content" slot="dropdown-content">
            <paper-item value="Ocio">Ocio</paper-item>
            <paper-item value="Trabajo">Trabajo</paper-item>
            <paper-item value="Formación">Formación</paper-item>
            <paper-item value="Evento">Evento</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
        <div class="container-buttons">
          <paper-button raised>Reset</paper-button>
          <a href="/events">
            <paper-button raised on-click="createEvent">Guardar</paper-button>
          </a>  
        </div>
      </form>
    </iron-form>

  </template>

  <script>
    /**
     * `create-event` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class CreateEvent extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'create-event';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          newEvent: {
            type: Object,
            value: function() {
              return {}
            }
          },
          date: {
            type: Date,
            notify: true
          },
          i18n: {
            type: Object,
            value: function() {
              return {
                // An array with the full names of months startin with January.
                monthNames: [
                  'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo',
                  'Junio', 'Julio', 'Agosto', 'Septiembre',
                  'Octubre', 'Noviembre', 'Diciembre'
                ],

                // An array of weekday names starting with Monday. Used in screen reader announcements.
                weekdays: [
                  'Lunes', 'Martes', 'Miércoles',
                  'Jueves', 'Viernes', 'Sábado', 'Domingo'
                ],

                // An array of short weekday names starting with Monday. Displayed in the calendar.
                weekdaysShort: [
                  'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom'
                ],

                // An integer indicating the first day of the week (0 = Monday, 1 = Tuesday, etc.).
                firstDayOfWeek: 0,

                // Used in screen reader announcements along with week numbers, if they are displayed.
                week: 'Semana',

                // Translation of the Calendar icon button title.
                calendar: 'Calendario',

                // Translation of the Clear icon button title.
                clear: 'Borrar',

                // Translation of the Today shortcut button text.
                today: 'Hoy',

                // Translation of the Cancel button text.
                cancel: 'Volver',

                // A function to format given `Object` as date string. Object is in the format `{ day: ..., month: ..., year... }` Note: The argument month is 0-based. This means that January = 0 and December = 11.
                formatDate: d => {
                  const addZero = value => (value < 10 ? "0" + value : value);
                // returns a string representation of the given object in Spanish 'DD/MM/YYYY' format
                  return `${addZero(d.day)}/${addZero(d.month + 1)}/${d.year}`;
                },

                // A function to parse the given text to an `Object` in the format `{ day: ..., month: ..., year: ... }`. Must properly parse (at least) text formatted by `formatDate`. Setting the property to null will disable keyboard input feature. Note: The argument month is 0-based. This means that January = 0 and December = 11.
                parseDate: null,

                // A function to format given `monthName` and `fullYear` integer as calendar title string.
                formatTitle: (monthName, fullYear) => {
                  return monthName + ' ' + fullYear;
                }
              }
            }
          }  
        };
      }

      createEvent() {
        this.newEvent = {
          name: this.$.inputName.value,
          date: this.$.inputDate.value,
          time: this.$.inputHour.value,
          description: this.$.inputDescription.value,
          location: this.$.inputLocation.value,
          owner: this.$.inputOwner.value,
          category: this.$.inputCategory.value
        }
        console.log('newEvent: ', this.newEvent);
        console.log('Creando un evento');
        this.$.postAjax.generateRequest();
      }

      postResponseInJson(e) {
        console.log('postResponseInJson: ', e);
        this.dispatchEvent(new CustomEvent('post-response-in-json', {
          bubbles: true,
          composed: true,
          detail: {              
          }
        }));
      }


      postError() {
        console.log(e.detail);
      }

    }

    window.customElements.define(CreateEvent.is, CreateEvent);
  </script>
</dom-module>