<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">

<dom-module id="event-item">
  <template>
    <style>
      :host {
        display: block
      }
      
      h4 {
        cursor: pointer;
        color: #ff6600;
      }
    </style>

    <h4 on-click="toggle">[[name]]</h4>
    <iron-collapse opened="[[state]]">
      <div class="collapse-content">
        <p><span>Fecha: </span><span>[[date]]</span></p>
        <p><span>Hora: </span><span>[[time]]</span></p>
        <p><span>Ubicación: </span><span>[[location]]</span></p>
        <p><span>Organizador: </span><span>[[owner]]</span></p>
        <p>[[category]]</p>
      </div>
    </iron-collapse>
    

  </template>

  <script>
    /**
     * `event-item` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class EventItem extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'event-item';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */

      static get properties() {
        return {
          name: String,
          date: String,
          time: String,
          location: String,
          owner: String,
          category: String,
          state: {
            type: Boolean,
            value: false
          } 
        };
      }
    
      toggle() {
        this.state = !this.state;
      }

    }

    window.customElements.define(EventItem.is, EventItem);
  </script>
</dom-module>