<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">


<dom-module id="event-card">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .content-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;
      }

      .separator {
        width: 100%;
        border-top: 1px solid rgb(209, 209, 209);
        display: flex;
        justify-content: flex-end;
      }

      paper-icon-button.expand-more,
      paper-icon-button.expand-less {
        width: 40px;
        margin-right: 10px; 
        color: var(--paper-brown-400);
      }

      .link-edit {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      paper-icon-button.button-edit,
      paper-icon-button.button-delete {
        width: 35px;
        color: var(--paper-brown-400);
      }

      .event-card-content  {
        margin: 15px 0;
        color: var(--paper-brown-300);
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }

      .card-content {
        padding: 20px 30px;
      }

      .event-name {
        font-size: 22px;
        font-weight: bold;
        color: #ff6600;
        margin-bottom: 15px;
      }

      .event-time-hour-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
        margin-bottom: 12px;
      }

      .event-location {
        padding: 0 25px;
        color: var(--paper-brown-200);
        font-size: 14px;
      }

      .event-description {
        padding: 5px 30px 10px;
      }

    </style>

    <paper-card class="event-card-content" on-click="toggle">
      <div class="card-content">
        <div class="event-name">[[eventItem.name]]</div>
        <div class="event-time-hour-content">
          <div class="event-time">
            <iron-icon icon="schedule"></iron-icon>
            <span>[[eventItem.time]] h</span>
          </div>
          <div class="event-date">
            <iron-icon icon="date-range"></iron-icon>
            <span>[[eventItem.date]]</span>
          </div>
        </div>
        <div class="event-location">
          <iron-icon icon="room"></iron-icon>
          <span>[[eventItem.location]]</span>
        </div>
      </div>
      <div class="separator">
        <paper-icon-button 
          noink="true" 
          icon="[[iconValue]]" 
          title="Más info" 
          class$="[[iconValue]]">
        </paper-icon-button>
      </div>
     
      <iron-collapse id="more-info" opened="[[state]]" class="collapse-description">
        <div class="event-description">[[eventItem.description]]</div>
        <div class="content-buttons">
          <a href$="/edit-event/[[eventItem.id]]" class="link-edit">
            <paper-icon-button icon="create" title="Editar" class="button-edit">Editar</paper-icon-button> 
          </a>
          <paper-icon-button icon="delete" title="Borrar" class="button-delete">Editar</paper-icon-button> 
        </div>

      </iron-collapse> 
    </paper-card>
  
  </template>

  <script>
    /**
     * `event-item` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class EventCard extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'event-card';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */

      static get properties() {
        return {
          eventItem: Object,
          state: {
            type: Boolean,
            value: false 
          },
          iconValue: {
            type: String,
            computed: 'getIconValue(state)'
          }
        };
      }
    
      toggle() {
        this.state = !this.state;
      }

      getIconValue(state) {
        return state ? this.iconValue = 'expand-less' : this.iconValue = 'expand-more';  
      } 
    
    }

    window.customElements.define(EventCard.is, EventCard);
  </script>
</dom-module>